*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}

body{
    background-image: url('images/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
.masterclass{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: rgba(17, 17, 99, 0.164);
    position: fixed;
    width: 100%;
}

nav {
    display: inline;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}
.main{
    height: 100%;
}
.main .mainmaster{
    height: 100%;
    background-color: rgba(17, 17, 99, 0.568);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.main .mainmaster h1{
    font-size: 350%;
    padding-bottom: 3%;
    color: white;
}
.main .mainmaster h3{
    font-size: 150%;
    color: white;
    padding-bottom: 3%;
}
.main .mainmaster h4{
    font-size: 125%;
    color: white;
}
.main .mainmaster p{
    font-size: 125%;
    color: white;
}
.main .mainmaster a{
    padding: 1.5%;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    border: 3px solid red;
    border-radius: 30px;
}
.main .mainmaster a:hover{
    background-color: red;
}
.about, .indexing, .committee, .speakers, .callForPapers, .contact{
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    text-justify: baseline;
}

.about .orgabout h2, .indexing h2, .committee h2, .speakers h2, .callForPapers h2, .contact h2{
    display: grid ;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: darkblue;
}
.orgabout p{
    display: grid ;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.about .orgabout figure{
    vertical-align: middle;
}.about .orgabout img{
    height: 80;
    width: 200;
}
.about .orgabout figcaption{
    font-size: 18;
    font-weight: bold;
    text-align: center;
}
.logoset1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoset2{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutcontent, .callForPapers p {
    display: block;
    align-items: start;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: justify;
}
.aboutcontent h4, p, .indexing{
    padding-top: 2%;
}
.big{
    font-size: larger;
}
.listindex{
    margin-left: 50px;
    margin-top: 10px
}

/* Committee Design */

.committee{
    padding-top: 30px;
}
.committee img, .speakers img{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.teammembers{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* proper box Design for profile box */
.teammember { 
    width: 300px;
    margin: 10px; 
    text-align: center;
    box-sizing: border-box; 
}
.teammember em{
    color: red;
}
.teammember small{
    align-items: center;
}

/* Committee Design */

.committeecontent{
    display: flex;
    width: 100%;
}
.committeecontent div{
    width: 350px;
    padding: 10px;
    box-sizing: border-box;
}
.committee p{
    padding-left: 20%;
}

/* speakers Design */
.speakers{
    padding-top: 30px;
}

/* Call for Papers */
.callForPapers b{
    color: red;
}
table{
    border-collapse: collapse;
    border-color: blue;

    display: flex;
    align-items: center;
    justify-content: center;
}
th, td{
    padding: 10px;
}
th{
    background-color: blue;
    color: white;
}

.footer {
    display: block;
    background: #112363;
    padding: 25px;
    color: #eee;
    font-size: 14px;
}
